body {
    margin: 0;
	padding: 0;
    min-width: 100%;
    height: 100%;

}
/* .log-out-button{
	width: 60%;
	height: 2.5em;
	margin: 5% auto;
	justify-content: center;
	display: block;
	color: #fff;
	background:linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	font-size: 1em;
	font-weight: bold;
	margin-top: 10%;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
} */
.Account {
    width: 100%;
    height: 80vh;
    padding: 3%;
    
    background-image: url('../images/testBack2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.a-container {
   
    margin-top: -12%;
}

#a-wrap {
    width: 100%;
    margin: 20px auto;
    
    margin-left:7%; 
    margin-top: 10%;
}

.a-header{
    



    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.a-header {
    display: block;
    width: 65%;
    height: 520px;
    margin-top: 13%;
    margin-left: 10%;
   
   
    
    z-index: 2;
}

.a-label {
    margin-bottom: 10px;
    display: block;
    font-size: 25px;
    margin-top: 15%;
    margin-left: 40%;
    font-weight: 300;
    color: black;

  }

  .aDetailsLabel {
    font-size: 17px;
    margin-top: 6%;
    margin-left: 15%;
    font-weight: 300;

}

.aDetailsLabel2 {
    
    margin-top: 4%;
    margin-left: 4%;
 

}

.a-row {
    display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  margin-left: 6%;
}

.a-column {
    width: 47%; 
    margin-left: 3%;
   }

.a-column2 {
    margin-left: -5%;
}

.a-box {
    margin-left: 15%;
    width: 62%;
    background-color: #F5F5F5;
    padding-left: -30%;
    border-style: solid 0.5px;
    height: 52px;
    /* border-radius: 10px; */
    padding: 1%;
    
}

.a-email{
    margin-left: 10.5%;
}

.a-title {
    padding-top: 20px;
    font-weight: 400;
}

.a-box-email{
    width: 100%;
    height: 55px;
   margin-left: 10.5%;
}

.a-single-col{
    width: 70%;
}

.a-single-col-rew{
    margin-top: 2%;
    width: 30%;
    margin-left: 7.5%;
}

.unchangedEmail{
    margin-top: 2%;
    margin-left: 1.5%;
}

.unchangedReward{
    margin-top: 4%;
    margin-left: 4%;
}

.button-row{
    margin-top: 3%;
    margin-left: -4%;
}

.buttonCol{
    height: 100px;
    width: 51%;
    
}

.delete-button{
    width: 37%;
	height: 50%;
	margin: 5% auto;
	justify-content: center;
	display: block;
	color: #fff;
    background: #333;
	font-size: 1em;
	font-weight: bold;
	margin-top: 5%;
	outline: none;
	border: none;
	border-radius: 0px;
	transition: .2s ease-in;
	cursor: pointer;
    
    background-color: black;
    margin-top: 2%;
    transition: all 0.25s;
  cursor: pointer;
}

.delete-button:hover{
    background-color: #b92b27;
  }

  .fillA {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/testA7.jpg'); 
    height: 550px;
}
.fillA img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
    
}

.fillA-header{
    color: azure; 
    font-size: 56px;
    color: #fff;
  text-shadow:
      0 0 7px #fff;
  color: azure; 
  font-size: 1x; 
  margin-left: 0%; 
  -webkit-text-stroke: 1px white;
  }
.log-out-button{
	width: 37%;
	height: 50%;
	margin: 5% auto;
	justify-content: center;
	display: block;
	color: #fff;
    background: #333;
	font-size: 1em;
	font-weight: bold;
	margin-top: 5%;
	outline: none;
	border: none;
	border-radius: 0px;
	transition: .2s ease-in;
	cursor: pointer;
    
    background-color: black;
    margin-top: 2%;
    transition: all 0.5s;
  cursor: pointer;
 
}

.log-out-button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-left: 30%;
    transition: 0.5s;
  }
  
  .log-out-button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    margin-left: 5%;
    
    transition: 0.5s;
  }
  
  .log-out-button:hover{
    padding-right: 24px;
    padding-left:8px;
    margin-left: 30%;
  }
  
  .log-out-button:hover:after {
    opacity: 1;
    right: 10px;
    margin-left: 5%;
  }

.AccountForm {
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 50%;
    border-radius: 3%;
    padding: 3%;
    margin-top: 4%;
    margin-left: 25%;
    box-shadow: 5px 20px 50px #000
}
.account-page {
    color: whitesmoke;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin-bottom: 10%;
      
}
/*
input {
    width: 60%;
    height: 3em;
    background: white;
    justify-content: center;
    display: flex;
    margin: 0% auto;
    padding: 1%;
    padding-left: 3%;
    border: none;
    outline: none;
    border-radius: 5px;
    
}
*/