body {
    margin: 0;
	padding: 0;
    min-width: 100%;
    height: 100%;

}
button{
	width: 60%;
	height: 2.5em;
	margin: 5% auto;
	justify-content: center;
	display: block;
	color: #fff;
	background:linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	font-size: 1em;
	font-weight: bold;
	margin-top: 10%;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.Account {
    width: 100%;
    height: 100vh;
    padding: 3%;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.AccountForm {
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 50%;
    border-radius: 3%;
    padding: 3%;
    margin-top: 4%;
    margin-left: 25%;
    box-shadow: 5px 20px 50px #000
}
label {
    color: whitesmoke;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin-bottom: 10%;
      
}

input {
    width: 60%;
    height: 3em;
    background: white;
    justify-content: center;
    display: flex;
    margin: 0% auto;
    padding: 1%;
    padding-left: 3%;
    border: none;
    outline: none;
    border-radius: 5px;
    
}