.r-title2-b {
  margin-top: 5%;
  text-align: center;
}

.booking-msg {
  color: #664d03;
  background-color: #FFF3CD;
  border-color: #ffecb5;
  width: 60%;
  height: 2.5em auto;
  justify-content: center;
  display: flex;
  margin: 0% auto;
  margin-top: 7%;
  margin-bottom: 1%;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  border: none;
  outline: none;
  border-radius: 5px;
  word-wrap:break-word
}




/* new css*/

.booking-box{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    background-color: white;
    margin-top: 2%;
    border-radius: 10px;
    border: 2px solid;
    border-color:
      rgb(213, 220, 226)
      rgb(213, 220, 226)
      rgb(184, 194, 204); 
    
    margin-left: 12.5%;
    margin-right: 12.5%;
    cursor: pointer;
  }
  
  .edit-booking-box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
      background-color: white;
      margin-top: 2%;
      border-radius: 10px;
      border: 2px solid;
      border-color:
        rgb(213, 220, 226)
        rgb(213, 220, 226)
        rgb(184, 194, 204); 
      
      margin-left: 12.5%;
      margin-right: 12.5%;
      cursor: pointer;
    }


    
  .col-L-b {
    float: left;
    width: 25%;
  }

  .image-b {
  
    height: 250px;
    border-radius: 2%;
    border-color: transparent;
    margin-left: 10px;
    margin-top: 10px;
    width: 350px;
    
  }
  .image-before-edit-b {
  
    height: 290px;
    border-radius: 3%;
    border-color: transparent;
    margin-left: 60px;
    margin-top: 80px;
    width: 370px;
    
  }
  

  
  /* Clear floats after the columns */
  .b-box:after {
    content: "";
    display: table;
    clear: both;
    height: 15%;
  }
  

  #col-L2-b {
    margin-left: 6%;
  }

  

  .h3-b{
    margin-top: 0%;
    margin-left:10% auto;
    font-size: 1.3em;
  }



  .price-box-b {
    margin-top: 20% ;
    margin-left: 12.5%;
    margin-right: 12.5%;
    
  }

  
  .booking-price {
  
    margin-left: 25%;
    
    margin-top: 40%;
    font-size: 1.2em;
    color: #333;
    

  }


  .col-S-b {
    float: left;
    width: 44%;
    position: relative;
  }

  
  
  
 
  .booking-button{

  width: 40%;
height: 2.5em;
margin: 5% auto;
justify-content: center;
display: block;
color: #fff;
  background:black;
font-size: 1em;
font-weight: bold;
margin-top: 0%;
outline: none;
border: none;
border-radius: 3px;
transition: .2s ease-in;
cursor: pointer;
}

.save-button-b{

  width: 60%;
height: 2.5em;
margin: 7% auto;
margin-bottom:10%;
justify-content: center;
display: block;
color: #fff;
  background: black;
font-size: 1em;
font-weight: bold;
margin-top: 0%;
outline: none;
border: none;
border-radius: 5px;
transition: .2s ease-in;
cursor: pointer;
}

.buttons-b {
  width: 960px;
  margin: 0 auto;
height: 60%;}
  
.action_btn-b {
  width: 500px;
  margin: 0 auto;}

.BookingForm{
    /* margin-right: 10%;  */
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 65%;
  }

.r-label-b {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;

}

.r-label-id-b {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;

}
.r-label-name-b {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;

}

.r-input-text-b {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .r-input-text-cost-b {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px;
    border-color: transparent;
    border-radius: 3px;
    margin-left: -6%;
  }

  .r-input-text-id-b {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px;
    border-color: transparent;
    border-radius: 3px;
    margin-left: -6%;
  }


  .columnR-b {
    width: 47.0%; 
  margin-left: 3%;
  
  }
.columnR2-b {
    width: 22.0%; 
  margin-left: 3%;
    
  }

  .columnR4-b {
    width: 22.0%; 
  margin-left: 8%;
    
  }

  .columnR3-b {
    width: 37.8%; 
  margin-left: 3%;
    
  }


  .columnR-before-edit-b {
    width: 47.0%; 
  margin-left: 3%;
    
  }
  .columnR-before-hotel-b {
    width: 70%; 
  margin-left: 3%;
  
    
  }
  /* Clear floats after the columns */
  .rowR-b {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 104%;
    
  }
  .rowR2-b {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 154%;
    margin-left: -10%;
    
    
  }
  .rowR3-b {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 154%;
    margin-left: -10%;
    
    
  }

  .rowR-before-edit-b {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 70%;
    margin-left: 40%;
    
  }
  .rowR-before-hotel-b {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 70%;
    margin-left: 40%;
    
  }

.roomType {
    margin-bottom: 5%;
}
