.r-title2 {
  margin-top: 5%;
  text-align: center;
}

.booking-msg {
  color: #664d03;
  background-color: #FFF3CD;
  border-color: #ffecb5;
  width: 60%;
  height: 2.5em auto;
  justify-content: center;
  display: flex;
  margin: 0% auto;
  margin-top: 7%;
  margin-bottom: 1%;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  border: none;
  outline: none;
  border-radius: 5px;
  word-wrap:break-word
}




/* new css*/

.booking-box{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    background-color: white;
    margin-top: 2%;
    border-radius: 10px;
    border: 2px solid;
    border-color:
      rgb(213, 220, 226)
      rgb(213, 220, 226)
      rgb(184, 194, 204); 
    
    margin-left: 12.5%;
    margin-right: 12.5%;
    cursor: pointer;
  }
  
  .edit-booking-box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
      background-color: white;
      margin-top: 2%;
      border-radius: 10px;
      border: 2px solid;
      border-color:
        rgb(213, 220, 226)
        rgb(213, 220, 226)
        rgb(184, 194, 204); 
      
      margin-left: 12.5%;
      margin-right: 12.5%;
      cursor: pointer;
    }


    
  .col-L {
    float: left;
    width: 25%;
  }

  .image {
  
    height: 250px;
    border-radius: 2%;
    border-color: transparent;
    margin-left: 10px;
    margin-top: 10px;
    width: 350px;
    
  }
  .image-before-edit {
  
    height: 290px;
    border-radius: 3%;
    border-color: transparent;
    margin-left: 60px;
    margin-top: 80px;
    width: 370px;
    
  }
  

  
  /* Clear floats after the columns */
  .b-box:after {
    content: "";
    display: table;
    clear: both;
    height: 15%;
  }
  

  #col-L2 {
    margin-left: 6%;
  }

  

  .h3{
    margin-top: 0%;
    margin-left:10% auto;
    font-size: 1.3em;
  }



  .price-box {
    margin-top: 20% ;
    margin-left: 12.5%;
    margin-right: 12.5%;
    
  }

  
  .booking-price {
  
    margin-left: 25%;
    
    margin-top: 40%;
    font-size: 1.2em;
    color: #333;
    

  }


  .col-S {
    float: left;
    width: 44%;
    position: relative;
  }

  
  
  
 
  .booking-button{

  width: 40%;
height: 2.5em;
margin: 5% auto;
justify-content: center;
display: block;
color: #fff;
  background:black;
font-size: 1em;
font-weight: bold;
margin-top: 0%;
outline: none;
border: none;
border-radius: 3px;
transition: .2s ease-in;
cursor: pointer;
}

.save-button{

  width: 60%;
height: 2.5em;
margin: 7% auto;
margin-bottom:10%;
justify-content: center;
display: block;
color: #fff;
  background: black;
font-size: 1em;
font-weight: bold;
margin-top: 0%;
outline: none;
border: none;
border-radius: 5px;
transition: .2s ease-in;
cursor: pointer;
}

.buttons {
  width: 960px;
  margin: 0 auto;}
  
      .action_btn {
  width: 500px;
  margin: 0 auto;}



  /* RESERVATION.CSS */
  .p-header, #main {
    background: #fff;



    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.p-header {
    display: block;
    width: 45%;
    height: 100%;

    position: relative;
    z-index: 2;
}

#wrap {
    width: 100%;
    margin: 20px auto;
    position: relative;
    margin-left:30%; 
    margin-top: 5%;

}

.ReserveForm{
    /* margin-right: 10%;  */
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 65%;
  }

.r-label {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;

}

.r-label-id {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;

}
.r-label-name {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;

}

.r-input-text {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .r-input-text-cost {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px;
    border-color: transparent;
    border-radius: 3px;
    margin-left: -6%;
  }

  .r-input-text-id {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px;
    border-color: transparent;
    border-radius: 3px;
    margin-left: -6%;
  }


  .columnR {
    width: 47.0%; 
  margin-left: 3%;
  
  }
.columnR2 {
    width: 22.0%; 
  margin-left: 3%;
    
  }

  .columnR4 {
    width: 22.0%; 
  margin-left: 8%;
    
  }

  .columnR3 {
    width: 37.8%; 
  margin-left: 3%;
    
  }


  .columnR-before-edit {
    width: 47.0%; 
  margin-left: 3%;
    
  }
  .columnR-before-hotel {
    width: 70%; 
  margin-left: 3%;
  
    
  }
  /* Clear floats after the columns */
  .rowR {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 104%;
    
  }
  .rowR2 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 154%;
    margin-left: -10%;
    
    
  }
  .rowR3 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 154%;
    margin-left: -10%;
    
    
  }

  .rowR-before-edit {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 70%;
    margin-left: 40%;
    
  }
  .rowR-before-hotel {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 70%;
    margin-left: 40%;
    
  }
  
  
.rForm {
    width: 100%;
}

.roomType {
    margin-bottom: 5%;
}

.Rbutton_container {
	position: relative;
  left: 0;
  right: 0;
  top: 0%;
  
}

.Rbtn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .Rbtn span {
    position: relative; 
    z-index: 1;
  }
  
  .Rbtn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .Rbtn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

  .divNew{

    margin-top: 2px;
    
    }