* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

.xL{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    background-color: white;
    margin-top: 2%;
    border-radius: 10px;
    border: 2px solid;
    border-color:
      rgb(213, 220, 226)
      rgb(213, 220, 226)
      rgb(184, 194, 204); 
    
    margin-left: 12.5%;
    margin-right: 12.5%;
    cursor: pointer;
    
  }

  .columnL {
    float: left;
    width: 25%;
  }

  .imageChange {
    height: 203px;
    width: 300px;
  }

  
  /* Clear floats after the columns */
  .rowL:after {
    content: "";
    display: table;
    clear: both;
    height: 15%;
  }

  #colL2 {
    margin-left: 6%;
  }

  .h3Class {
    margin-top: -2%;
    font-size: 1.1em;
  }

  .star {
    margin-top: 5%;
  }

  .priceBlock {
    margin-top: 20%;

  }

  .starDiv {
    position: absolute;
        bottom: -155px;
        left: 0;
    
  }

  .price {
    margin-left: 75%;
    margin-top: 38%;
    font-size: 1.3em;

  }


  .columnSN {
    float: left;
    width: 44%;
    position: relative;
  }
  .pay-button {
    float: right;
    margin-top: -4%;
    margin-right: 8%;
    margin-bottom: 1%;
    padding: .9%;
    font-weight: 600;
    font-size: .9em;
    height: 2.7em;
    

    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: black;
    background-color: white;
    /*box-shadow: 0 5px 15px rgba(0,0,0,0.20);*/
    
  }
  .pay-button span {
    position: relative; 
    z-index: 1;
  }
  .saved-payment-button span {
    position: relative; 
    z-index: 1;
  }
  .pay-button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  .pay-button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 445%;
    width: 140%;
    color: white;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(70%) translateY(-11%) rotate(45deg);
  }
  .saved-payment-button {
    float: right;
    margin-top: -4%;
    margin-right: 1%;
    
    padding: .9%;
    font-weight: 600;
    font-size: .9em;
    height: 2.7em;

    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  .saved-payment-button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  .saved-payment-button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 445%;
    width: 140%;
    color: white;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(70%) translateY(-10%) rotate(45deg);
  }

  .saved-option {
    float: right;
    margin-top: -4.5%;
    margin-right: 8%;
    padding-left: .4%;
    padding-right: .3%;
    border: none;
    font-weight: 600;
    font-size: .95em;
    height: 2.7em;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20)
  }
  .saved-payment-button-slide {
    color: black;
    border: 2px solid white;
    border-radius: 0px;
    display: inline-block;
    height: 3.2em;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: ease-out 1s;
    -moz-transition: ease-out .5s;
    transition: ease-out 2s;
    background-color: white;
  }
  .saved-payment-button-slide:hover {
    color: black;
    background-color: #8bcdd6;

  }
  .rewards-payment-btn {
    color: black;
    background-color: lightgray;
    float: right;
    margin-top: -8.5%;
    margin-right: -13%;
    margin-bottom: 1%;
    padding: 1%;
    font-weight: 600;
    font-size: .9em;
    height: 2.7em;
    width: 39.8vh;
    border: none;
    transition: all 0.2s linear 0s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.10);

    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    
  }
  .rewards-payment-btn span {
    position: relative; 
    z-index: 1;
  }
  
  .rewards-payment-btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-4.6%) translateY(-25%) rotate(45deg);
  }
  .rewards-payment-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 650%;
    width: 140%;
    color: white;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-8%) translateY(-25%) rotate(45deg);
    transform: translateX(57.5%) translateY(-50%) rotate(45deg);
  }
  .insufficient-btn {
    float: right;
    margin-top: -8.5%;
    margin-right: -13%;
    padding: .9%;
    font-weight: 600;
    font-size: .9em;
    height: 2.7em;
    border: none;
  }