.login-body {
    margin: 0;
	padding: 0;
    min-width: 100%;
    height: 100%;
}

.login-button{
	width: 37%;
	height: 7.5%;
	margin: 5% auto;
	justify-content: center;
	display: block;
	color: #fff;
    background: #333;
	font-size: 1em;
	font-weight: bold;
	margin-top: 10%;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
    border-radius: 60px;
    background-color: #696969;
    margin-top: 5%;
    transition: all 0.5s;
  cursor: pointer;
}

.login-button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-left: 30%;
    transition: 0.5s;
  }
  
  .login-button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    margin-left: 5%;
    
    transition: 0.5s;
  }
  
  .login-button:hover{
    padding-right: 24px;
    padding-left:8px;
    margin-left: 30%;
  }
  
  .login-button:hover:after {
    opacity: 1;
    right: 10px;
    margin-left: 5%;
  }

.LogIn {
    width: 100%;
    height: 100vh;
    padding: 3%;
    
    background-image: url('../images/newTest16.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
}

.l-quote{
    color: white;
    margin-top: -95%;
    margin-left: 13%;
    margin-right: 60%;
    font-weight: 200;
    color: #fff;
    font-size: 25px;
  text-shadow:
      0 0 7px #fff;
  color: azure; 
  
  
  -webkit-text-stroke: 1px white;
}

.LogInForm {
    width: 50%;
    border-radius: 3%;
    padding: 3%;
    margin-top: 4%;
    margin-left: 25%;
    box-shadow: 5px 20px 50px #000;
    backdrop-filter: blur(5px);
   
   
    color: white;
}


.login-label {
    color: whitesmoke;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin-bottom: 10%;

   
      
}
.login-label-text {
    color:#fff;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0%;
    margin-left: 2%;
    
}


.login-input-checkbox{
    transform: scale(0.4) ;
    
}

.login-input {
    width: 60%;
    height: 3em;
    background: white;
    justify-content: center;
    display: flex;
    margin: 0% auto;
    padding: 1%;
    padding-left: 3%;
    border: none;
    outline: none;
    border-radius: 5px;
    
}
.sign-up-link{
    font-size: 1em;
}



  #login-image {
    display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     width: 30%;

     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
   
     height: 550px;
  }

  #login-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#login-form 
{
    background-color: white;
    width: 57%;
    float:right;
    height: 100%;
    
    color: black;
    
}

.l-label {
    margin-bottom: 10px;
    display: block;
    font-size: 25px;
    margin-top: 19%;
    margin-left: 25%;
    font-weight: 400;
    color: grey;

  }

.lDetailsLabel {
    font-size: 17px;
    margin-top: 10%;
    margin-left: 15%;
    font-weight: 500;
}

#lDetailsLabel2 {
    margin-top: 2%;
}

#secondLabel {
    margin-top: 2%;
    font-size: 15px;
    margin-left: 30%;
}

  .l-input-text {
    width: 70%;
    margin-top: 0%;
    height: 5%;
    padding: 5px;
    border: 1px solid #ccc;
    /* border-radius: 3px; */
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 15%;
  }

#l2-input-text {
    margin-top: 0%;
}

  #wrap {
    width: 100%;
    margin: 20px auto;
    
    margin-left:7%; 
    margin-top: 10%;
}

.l-header{
    



    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.l-header {
    display: block;
    width: 65%;
    height: 600px;
    margin-top: 13%;
    margin-left: 10%;
    
   
    
    z-index: 2;
}

.image-div {
    background-image: url('../images/newTest22.jpg');
    
    height: 100%;
    width: 43%;
    position: absolute;
    float: auto;
    display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     /* width: 100%; */

     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;

}

.l-container {
   
    margin-top: -8%;
}




  