
  html, body {
    overflow-x: hidden;
  }

  html,body{
    height: 100%;
  }
  body, pre {
    margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

 }


 * {
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}
.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}
.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}
.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
 }

 .p-input-text {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.p-label {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;
}
.icon-container {
  margin-top: -5%;
  padding: 7px 0;
  font-size: 24px;
}
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 3%;
}
.btn:hover {
  background-color: #45a049;
}
a {
  color: #2196F3;
}
hr {
  border: 1px solid lightgrey;
}
span.price {
  float: right;
  color: grey;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
   .col-25 {
     margin-bottom: 20px;
   }
  }

 .container {
     /* background-color: #f2f2f2; */
   /* padding: 5px 20px 15px 20px; */
   /* border: 1px solid lightgrey; */
   border-radius: 3px;
}

.col-25 {
    margin-bottom: 20px;
  }

.billingAddress{
  margin-right: 10%; 
  margin-left: 10%;
}


#wrap {
    width: 100%;
    margin: 20px auto;
    position: relative;
    margin-left:5.3%; 
    margin-top: -1.2%;
}

header, #main {
    background: #fff;



    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header {
    display: block;
    width: 45%;
    height: 100%;


    position: relative;
    z-index: 2;
}

#main {
    width: 45%;
    height: 100%;


    position: absolute;
    z-index: 1;
    top: 40px;
    left: 50px;
    margin-left: 40%; 
    margin-top:-3.7%;
}

 .fa-cc-visa {
    color:navy; 
    font-size: 40px;
 }

 .fa-cc-amex {
  color:blue; 
  font-size: 40px;
 }

 .fa-cc-mastercard {
  color:red;
  font-size: 40px;
 }

 .fa-cc-discover {
  color:orange;
  font-size: 40px;
 }

 .expcvv {
  width: 30%; 
  margin-left: 3%;
 }

 .btn{
  background-color: black; width: 100%; height: 10%;
 }

 .button_slide {
  color: #FFF;
  border: 2px solid white;
  border-radius: 0px;
  /* padding: 18px 36px; */
  display: inline-block;
  /* font-family: "Lucida Console", Monaco, monospace; */
  font-size: 16px;
  /* letter-spacing: 1px; */ 
  cursor: pointer;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  background-color: black; width: 100%; height: 10%;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 White;
  color: black;
  border: 2px solid black;
}

.neonTextP {
  color: #fff;
  text-shadow:
      0 0 7px #fff;
  color: azure; 
  font-size: 1x; 
  margin-left: 0%; 
  -webkit-text-stroke: 1px white;
}

label, input {
  color: black;
}

#parent {
  width: 100%;
  height: 4%;
  white-space: nowrap;
  overflow-x: auto;
}
.child {
  display: inline-block;
  font-size: 33%;
  width: 50%;
}

.saveInput{
  margin-left: -14%;
}
.save {
  font-size: 15px;
  margin-left: -20%;
}

.move-icon{
  margin-top: 0px;
}

.numberAlert{
  margin-top: 1%;
  font-size: 13px;
  background: white;
  border: 1px 1px 1px 1px;
  font-weight: 300;
  border-color: red;
  text-shadow:
      0 0 1px red
}
