.p-header, #main {
    background: #fff;



    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.p-header {
    display: block;
    width: 45%;
    height: 100%;


    position: relative;
    z-index: 2;
}

#wrap {
    width: 100%;
    margin: 20px auto;
    position: relative;
    margin-left:7%; 
    margin-top: -1.2%;
    
}

.ReserveForm{
    /* margin-right: 10%;  */
    margin-left: 15%;
    width: 70%;
  }

.r-label {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;

}

.r-input-text {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .columnR {
    width: 47.0%; 
  margin-left: 3%;
    
  }
  
  /* Clear floats after the columns */
  .rowR {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 104%;
    
  }

.rForm {
    width: 100%;
}

.roomType {
    margin-bottom: 5%;
}

.Rbutton_container {
	position: relative;
  left: 0;
  right: 0;
  top: 0%;
  
}

.Rbtn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .Rbtn span {
    position: relative; 
    z-index: 1;
  }
  
  .Rbtn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .Rbtn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }